<div class="card-container">
  <p-card>
    <ng-template #header>
      <div class="image-container">
        <img alt="Card" [src]="post.urls.regular" />
      </div>
    </ng-template>
    <ng-template #subtitle>
      <div class="post-meta-row">
        <p class="user-text">{{ post.user?.username }}</p>
        <p class="likes-text">{{ post.likes }} ♡</p>
      </div>
      <p class="updated-text mt-0">
        {{ post.updated_at | date : "medium" }}
      </p>
      <p-button
        *ngIf="showAddToFav"
        [raised]="true"
        [label]="favBtnLabel"
        variant="outlined"
        [severity]="favBtnSeverity"
        [icon]="favBtnIcon"
        size="small"
        [disabled]="favBtnDisable"
        iconPos="right"
        [style]="{ width: '100%' }"
        (click)="addToFavorites()"
      />
    </ng-template>
  </p-card>
</div>
