<div class="sidebar">
  <h5 class="mb-3">Browse more artists</h5>
  <div class="user-cards">
    <div *ngFor="let user of users" class="user-card">
      <img
        [src]="user.image"
        alt="{{ user.firstName }}'s photo"
        class="user-image"
      />
      <div class="user-info">
        <h3 class="user-name">{{ user.firstName }} {{ user.lastName }}</h3>
        <p class="user-email">{{ user.email }}</p>
        <p class="user-role">Role: {{ user.role }}</p>
      </div>
    </div>
  </div>
</div>
