:host {
  display: flex;
  justify-content: center;
}

.search_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.form-element {
  // flex: 1;
  flex: 0.5;
  min-width: 150px;
}

/* Mobile View */
@media (max-width: 768px) {
  .main-div {
    flex-direction: column;
    align-items: stretch;
  }

  .form-element {
    width: 100%;
  }

  ::ng-deep p-button,
  .full-width-mobile {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
