<form (ngSubmit)="triggerSearch()" #searchForm="ngForm" class="search_bar">
  <div
    class="form-element ng-invalid ng-touched"
    *ngFor="let input of inputsConfig"
  >
    <p-inputgroup>
      <input
        pInputText
        [type]="input.type ?? 'text'"
        [placeholder]="input.placeholder"
        [(ngModel)]="formValues[input.name]"
        [name]="input.name"
        [required]="input.required ?? false"
        #ctrl="ngModel"
        [ngClass]="{ 'ng-invalid': ctrl.invalid && ctrl.touched }"
      />
    </p-inputgroup>
  </div>

  <div>
    <button
      pButton
      type="submit"
      icon="pi pi-search"
      severity="contrast"
      label="Search"
      [disabled]="searchForm.invalid"
      class="full-width-mobile"
    ></button>
  </div>
</form>
