<p-tabs value="0" [style]="{ width: '90vw' }">
  <p-tablist>
    <p-tab value="0"
      ><a routerLink="details" routerLinkActive="active"
        >Profile Details</a
      ></p-tab
    >
    <p-tab value="1"
      ><a routerLink="details" routerLinkActive="active">Settings</a></p-tab
    >
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-profile-section class="m-0"></app-profile-section>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-settings></app-settings>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
