<div class="artists-container">
  <div class="left-container">
    <div class="image-container">
      <img
        [src]="randomImg?.urls?.full"
        alt="Random Artist Image"
        *ngIf="randomImg"
      />
    </div>

    <div class="artist-of-the-day">
      <h2 class="artist-name">
        Artist of the Day: <br /><strong>Emily Johnson</strong>
      </h2>
      <p class="artist-description">
        Emily Johnson is an award-winning visual artist known for her stunning
        photography and vivid, thought-provoking images that capture moments of
        raw emotion.
      </p>
    </div>
  </div>

  <!-- Micro frontend: -->
  <div class="profiles-container">
    <ng-container #mfeContainer></ng-container>
  </div>
</div>
