<!-- <ng-container #mfeContainer></ng-container> -->
<!-- <div class="artists-container">
  <div class="image-container">
    <img
      [src]="randomImg?.urls?.full"
      alt="Random Artist Image"
      *ngIf="randomImg"
    />
  </div>

  <div class="profiles-container">
    <div class="artist-of-the-day">
      <h2 class="artist-name">
        Artist of the Day: <br /><strong>Emily Johnson</strong>
      </h2>
      <p class="artist-description">
        Emily Johnson is an award-winning visual artist known for her stunning
        photography and vivid, thought-provoking images that capture moments of
        raw emotion. Her works explore themes of identity, nature, and human
        connection.
      </p>
    </div>
    <ng-container #mfeContainer></ng-container>
  </div>
</div> -->
<div class="artists-container">
  <!-- Left container: Random Image and Artist of the Day (Combined) -->
  <div class="left-container">
    <div class="image-container">
      <img
        [src]="randomImg?.urls?.full"
        alt="Random Artist Image"
        *ngIf="randomImg"
      />
    </div>

    <div class="artist-of-the-day">
      <h2 class="artist-name">
        Artist of the Day: <br /><strong>Emily Johnson</strong>
      </h2>
      <p class="artist-description">
        Emily Johnson is an award-winning visual artist known for her stunning
        photography and vivid, thought-provoking images that capture moments of
        raw emotion.
      </p>
    </div>
  </div>

  <!-- Right container: Artist List -->
  <div class="profiles-container">
    <ng-container #mfeContainer></ng-container>
  </div>
</div>
