<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-4 py-5">
        <img
          class="rounded-circle mb-3"
          width="120px"
          [src]="
            currentUser.picture ||
            'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
          "
          alt="profile picture"
        />
        <h4 class="font-weight-bold">
          {{ currentUser?.name || currentUser.userName }}
        </h4>
        <p class="text-muted">♡ 488 Likes</p>
      </div>
    </div>

    <div class="col-md-9">
      <div class="p-4">
        <h5 class="mb-4">Studio Profile</h5>

        <div class="row mt-2">
          <div class="col-md-6 mb-3">
            <label class="labels">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              [value]="currentUser?.given_name || ''"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label class="labels">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              [value]="currentUser['family_name'] || ''"
            />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12 mb-3">
            <label class="labels">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter phone number"
              [value]="currentUser?.exp || ''"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label class="labels">Email ID</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter email ID"
              [value]="currentUser?.email"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
