<p class="logo">Studio</p>
<p class="sub-heading">Search. Find. Be inspired.</p>
<div class="searchbar-div card flex flex-col md:flex-row gap-4 mb-4">
  <app-search-bar
    [inputsConfig]="searchInputs"
    (search)="searchImages($event)"
  ></app-search-bar>
  <p *ngIf="filterStatement && !errorStatement" class="text-align-center">
    Showing search results for {{ filterStatement }} ✨ {{ errorStatement }}
  </p>
  <p *ngIf="errorStatement" class="text-align-center">
    {{ errorStatement }} 👽
  </p>
</div>

<div class="col-sm-12 mt-3" *ngIf="showAllPosts">
  <div class="api-grid">
    <div *ngFor="let post of allPosts$ | async" class="box">
      <app-image-card [post]="post" (addToFav)="addToFavorites(post)" />
    </div>
  </div>
</div>
<div class="col-sm-12 mt-3">
  <div class="api-grid">
    <div *ngFor="let post of filteredImages$ | async" class="box">
      <app-image-card
        [post]="post"
        (addToFav)="addToFavorites(post)"
      ></app-image-card>
    </div>
  </div>
</div>

<div class="random-btn-div" *ngIf="showRandomBtn">
  <p>or</p>
  <button
    pButton
    icon="pi pi-star"
    severity="success"
    label="Get Random Image"
    (click)="getRandomImage()"
  ></button>
  <app-image-card *ngIf="randomImg" [post]="randomImg" [showAddToFav]="false" />
</div>
